<template>
  <form @submit.prevent="procesarFormulario">
    <input type="text" placeholder="Enter para agregar to-do" class="form-control my-3" v-model="texto">
  </form>
</template>

<script>
import { inject, ref } from 'vue'
import { useDb } from '../hooks/useDb'

export default {
  setup() {
    const { agregarTodo } = useDb()
    const texto = ref('')
    const todos = inject('todos')
    const error = inject('error')

    const procesarFormulario = async () => {
      if (!texto.value.trim()) {
        return
      }

      const todo = await agregarTodo(texto.value)

      if (todo.res) {
        error.value = todo.e
        texto.value = ''
        return
      }

      todos.value = [...todos.value, todo]
      texto.value = ''
    }

    return { texto, procesarFormulario }
  },
}
</script>
